
<launch>  
  <!-- Skeleton traking -->
  <node pkg="openni_tracker" type="openni_tracker" name="openni_tracker"/>
  
  <!-- vvindow -->
  <node pkg="vvindow" type="vvindow" name="vvindow" args="" output="screen">
    <remap from="cloud" to="/camera/depth_registered/points"/>
    
    <param name="cloud" value="false" type="bool"/>        
    <param name="stereo" value="false" type="bool"/>      
    <param name="blackBg" value="true" type="bool"/>       
    <param name="modelPath" value="$(find vvindow)/bin/cessna.osg" type="string"/>         <!-- example: $(find vvindow)/bin/cessna.osg -->
    <param name="screenWidth" value="0.52" type="double"/>   <!-- 24"->0.52, 15.4"->0.332, 20"->0.41, 4.41-->
    <param name="screenHeight" value="0.325" type="double"/> <!-- 24"->0.325 , 15.4"->0.207, 20"->0.32, 2.75-->
    <param name="originX" value="0.0" type="double"/>
    <param name="originY" value="0.0" type="double"/>
    <param name="originZ" value="0.0" type="double"/>
    <param name="scale" value="1" type="double"/>
  </node>
  
  <!-- TF -->
  <!-- Where is the kinect from the monitor's center? -->
  <node pkg="tf" type="static_transform_publisher" name="monitor_to_kinect" 
  	args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /camera_link 100" />
  	
  <node pkg="tf" type="static_transform_publisher" name="kinect_to_skeleton_tracker_frame" 
  	args="0.0 0.0 0.0 0.0 0.0 0 /camera_depth_frame /openni_depth_frame 100" />


</launch>
